#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 12px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.main-content {
    margin-right: 140px;
}

#horizontal-style {
    display: table;
    width: 96%;
    /*margin-right: 50px;*/
    table-layout: fixed;
    /*margin-right: 10px;*/
}
#horizontal-style li {
    display: table-cell;
}
#horizontal-style a {
    display: block;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 14px; /* Increase the font-size */
    color: black; /* Add a black text color */
    text-align: center;
}

#horizontal-style li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/*Rating*/
.checked {
    color: orange;
}


	.panel-info, .panel-rating, .panel-more1 {
		float: left;
		margin: 3px 3px 3px 3px;
	}

	.business-item{
		margin-top: 3px;
		margin-left: 1px;
		padding: 4px;
		border-radius: 2px;
		/*cursor: pointer;*/
	}

	.business-item:hover{
		box-shadow: 1px;
		background-color: #eee;
		box-shadow: 2px 2px 1px #dedede;
	}
